@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import "mixins";

* {
  //transition : var(--transition-bg-color-primary), var(--transition-color-primary);

}

html {
  font-size   : var(--font-size-primary);
  font-family : 'Poppins', sans-serif;

  color       : var(--color-font-primary);

}

/* Apply a light color scheme */
@media (prefers-color-scheme : light) {
  body, #root {
    background-color : var(--color-white);
  }
}

/* Apply a dark color scheme */
@media (prefers-color-scheme : dark) {
  body, #root {
    background-color : var(--color-black-1);
  }
}

body, #root {
  background-color : var(--color-bg-primary);
}

button {
  background : var(--color-bg-btn-primary);

  &:disabled {
    background : var(--color-gray-50);
    cursor     : not-allowed;
  }
}

svg {
  font-size   : 24px;
  line-height : 100%;
}